<div class="container">
    <div class="row">
			<div class="box col-xs-4 col-xs-offset-4">
        <div class="wrap">
          	<p class="form-title">Sign In</p>
							<div align="center"><img src="https://s3-us-west-1.amazonaws.com/translationdev/icon_31091.png" height="100"></div>
							<br>
							 <% if flash[:errors]%>
							 <%= render "layouts/errors" %>
							 <%end%>
              <form class="login" action="<%= session_url %>" method="post" id="mainForm">
								<%= auth_token_input%>
                <input type="text" placeholder="Username" name="user[username]" id="username"/>
                <input type="password" placeholder="Password" name="user[password]" id="password"/>
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" id="submitButton"/>
								<div style="text-align:center">
								<a href="/users/new" class="register" id="signUpLink">Sign Up</a>
								</div>
               </form>
					</div> <!-- Close sign in column -->
						<form action="<%= session_url %>" method="post">
						  <%= auth_token_input %>
              	<input type="hidden" placeholder="Username" name="user[username]" value="demo"/>
              	<input type="hidden" placeholder="Password" name="user[password]" value="demodemo"/>
								<div style="text-align:center;">
              		<input type="submit" value="Demo User" class="btn btn-success" style="margin-top:20px; align:center" id="Demo User"/>
								</div>
             </form>
			</div>
    </div>
</div>
