<div class="container">
    <div class="row">
			<div class="box col-xs-6 col-xs-offset-3">
        <div class="wrap">
					<div class="col-xs-6">
          	<p class="form-title">Sign In</p>
							<div align="center"><img src="https://s3-us-west-1.amazonaws.com/translationdev/icon_31091.png" height="100"></div>
							<br>
              <form class="login" action="<%= session_url%>" method="post">
								<%= auth_token_input%>
                <input type="text" placeholder="Username" name="user[username]"/>
								<input type="text" placeholder="Email" name="user[email]"/>
                <input type="password" placeholder="Password" name="user[password]" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
               </form>
					</div> <!-- Close sign in column -->
					<div class="col-xs-6">
						<p class="form-title">Sign Up</p>
						<div align="center"><img src="https://s3-us-west-1.amazonaws.com/translationdev/icon_31091.png" height="100"></div>
						<br>
						<form class="login" action="<%= users_url %>" method="post">
						<%= auth_token_input%>
             <input type="text" placeholder="Username" name="user[username]"/>
						 <input type="text" placeholder="Email" name="user[email]"/>
             <input type="password" placeholder="Password" name="user[password]" />
             <input type="submit" value="Sign Up" class="btn btn-success btn-sm" />
            </form>
					</div><!-- Close sign up column -->
						<form action="<%= session_url %>" method="post">
						  <%= auth_token_input %>
              	<input type="hidden" placeholder="Username" name="user[username]" value="demo"/>
              	<input type="hidden" placeholder="Password" name="user[password]" value="demodemo"/>
								<input type="hidden" placeholder="Email" name="user[email]" value="demo@demo.com"/>
								<div style="text-align:center;">
              		<input type="submit" value="Demo User" class="btn btn-success" style="margin-top:20px; align:center"/>
								</div>
             </form>
						 <%= render "layouts/errors" %>
        </div>
			</div>
    </div>
</div>



