<div class="row">
  <div class="box">
		<h4><%= currentUser.escape('username')%></h4>
	 </div>      
</div>
<div class="row">
  <div class="box">
   <h2>Bank Account</h2>
	 <h4>$<%= (currentUser.escape('funds')/100).toFixed(2)%></h4>
 	</div>
</div>        

<div class="row">
  <div class="box">
   <h2>Get more credit</h2>
	 <h4>Stripe API</h4>
	<form action="charge" method="POST" id="payment-form">
	  <span class="payment-errors"></span>

	  <div class="form-row">
			<label>
				<span>Credit Amount</span>
				<input type="text" size="20" data-stripe="number" name="charge[amount]"/>
	    </label>
		</div>
		<div class="form-row">
	      <span>Card Number</span>
	      <input type="text" size="20" data-stripe="number" name="charge[number]"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>CVC</span>
	      <input type="text" size="4" data-stripe="cvc" name="charge[cvc]"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>Expiration (MM/YYYY)</span>
	      <input type="text" size="2" data-stripe="exp-month" name="charge[exp-month]"/>
	    </label>
	    <span> / </span>
	    <input type="text" size="4" data-stripe="exp-year" name="charge[year]"/>
	  </div>

	  <button type="submit">Submit Payment</button>
	</form>
 	</div>
</div>        

<div class="row">
  <div class="box">
   <h2>My Orders and Downloads</h2>
	 <table class="table table-striped box" id="order">
	 	<thead>
	 		<tr>
	 			<th>Order Date</th>
	 			<th>Status</th>
	 			<th>Title</th>
	 			<th>Cost</th>
				<th>Download</th>
	 		</tr>
	 	</thead>
	 	<tbody>
	 		<% jobs.each( function(job) { %>
	 		<tr class="info">
	 			<td>7/28/14</td>
	 			<td><%= job.escape('status')%></td>
	 			<td><%= job.escape('title')%></td>
	 			<td><%= (job.escape('price') / 100.0).toFixed(2)%></td>
				<% if (job.escape('status') == 'completed') {%>
				<td><a href="/api/jobs/125.pdf">Download</a></td>
				<% }; %>
	 		</tr>
	 		<% }) %>
	 	</tbody>
	 </table>
 	</div>
</div>     
