<h2>Translate!</h2>

<br />

<div class="container" height="50%">
		<div class="jumbotron col-xs-5" height="50%">
			<h4><%= task.escape('source_lang')%></h4>
			<br>
				<%= task.escape('source_text')%>
		</div>
		<div class="col-xs-1"></div>
    <div class="jumbotron col-xs-5" height="50%">
			<h4><%= task.escape('target_lang')%></h4>
			<br>
				<form id ="edit">
			    <div class="form-group">
			        <textarea class="form-control" rows="10" id="textArea" name="translation[text]" value="<%= task.escape('machine_text')%>"><%= task.escape('machine_text')%></textarea>
			    </div>
					<button type="submit" class="btn btn-success">Complete</button>
					<button type="skip" class="btn btn-primary">Skip</button>
				</form>
		</div>
</div>