<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<head>
  <title>Translation App</title>
</head>
<body>
<% if signed_in? %>	
	<div class="navbar navbar-inverse">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Brand</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-inverse-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#">Customer</a></li>
	      <li><a href="#">Translator</a></li>
	    </ul>
		  <ul class="nav navbar-nav navbar-right">
		       <li><a href="#">Order Translation</a></li>
		       <li class="dropdown">
		         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		         <ul class="dropdown-menu">
		           <li><a href="#">Action</a></li>
		           <li><a href="#">Another action</a></li>
		           <li><a href="#">Something else here</a></li>
		           <li class="divider"></li>
		           <li><a href="#">Separated link</a></li>
		         </ul>
		       </li>
		     </ul>
	  </div>
	</div>
	
<%end%>	

<% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

</body>
</html>


