<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<head>
  <title>Translation App</title>
</head>
<body>
<% if signed_in? %>	
	<div class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-default-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Brand</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-default-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#">Customer</a></li>
	      <li><a href="#">Translator</a></li>
	    </ul>
		  <ul class="nav navbar-nav navbar-right">
						<li><a href="#/translate">Translate Something</a></li>
		       <li><a href="#/jobs/new">Order Translation</a></li>
					 <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
		     </ul>
	  </div>
	</div>
	
	
<%end%>	

<%= yield %>

</body>
</html>


