<!DOCTYPE html>
<html>
<head>
  <title>Translation App</title>
</head>
<body>

<% if signed_in? %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

</body>
</html>

