<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'https://js.stripe.com/v1/', 'application' %>
<%= csrf_meta_tags %>
<%= tag :meta, name: 'stripe-key', content: ENV['stripe_live_publishable_key']%>
<head>
  <title>Translation App</title>
</head>
<body class="class1">
  <div class="brand">Speakeasy</div>
  <div class="address-bar">Technology + Humanity
	</div>
	
<% if signed_in? %>	
  <!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <a class="navbar-brand" href="index.html">Business Casual</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
								<a href="#/home">Home</a>
              </li>
              <li>
								<a href="#/jobs/index">Stats and Orders</a>
              </li>
              <li>
                  <a href="#/jobs/new">New Order</a>
              </li>
              <li>
                  <a href="#translate">Translate</a>
              </li>
              <li>
                  <%=link_to "Sign Out", session_url, method: :delete%>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<%end%>	
<%= yield %>

<!-- <div id = "changeBackground"> -->
	<!-- <p>
		<a>Make yourself at home</a>
		<a id="btn1">Vintage</a>
		<a id="btn2">Nature</a>
		<a id="btn3">Clean</a>
	</p> -->
<!-- </div> -->
</body>
</html>

	<script>
	$("#btn1").click(function() {
	 $('body').removeClass();
	 $('body').addClass('class1');
	});

	$("#btn2").click(function() {
	 $('body').removeClass();
	 $('body').addClass('class2');
	});

	$("#btn3").click(function() {
	 $('body').removeClass();
	 $('body').addClass('class3');
	});
	</script>

